{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="formContainer">
        <img src="{{ asset('img/login.svg') }}" alt="Illustration de connexion" width="650px">
        <div class="responsiveFormContainer">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes déjà connecté en tant que {{ app.user.userIdentifier }}. <a
                                href="{{ path('app_logout') }}">Se
                            déconnecter</a>
                    </div>
                {% endif %}
                <h2>Connectez-vous</h2>
                <div class="inputField">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email"
                           required
                           autofocus>
                </div>
                <div class="inputField">
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" autocomplete="current-password" required>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="checkboxField">
                    <input id="remember_me" type="checkbox" name="_remember_me">
                    <label for="remember_me"> Se souvenir de moi</label>
                </div>

                <button class="purpleButton" type="submit">Connexion</button>
                <a class="purpleLink" href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>
            </form>
        </div>
    </div>
{% endblock %}
