{% extends 'base.html.twig' %}

{% block title %}
    Profil
{% endblock %}

{% block body %}

    <div class="containerFlex">
        <div class="profileContainer">
            <img src="{{ vich_uploader_asset(participant, 'imageFile') }}" alt="Avatar" width="100px">
            <div class="subTitles">
                <h4>{{ participant.prenom }} {{ participant.nom }}</h4>
                <h3>{{ participant.telephone }} • {{ participant.campus.nom }} </h3>
            </div>
        </div>

        <div class="buttonContainer">
            <a class="whiteButton" href="{{ path('app_main') }}"> Retour </a>
            {% if participant is same as (app.user) %}
                <a class="purpleButton" href="{{ path('app_participant_edit', {'id':participant.id}) }}">Modifier</a>
            {% endif %}
        </div>
    </div>

{% endblock %}