{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}


    <h3>Date du jour : 15/11/2022</h3>
    <h3>Participant : Corentin V. et Christopher L.</h3>


    <h2>Filtrer les sorties</h2>


    <label for="campus">Campus</label>
    <select name="campus" id="campus">
        <option value="HEC">HEC</option>
        <option value="ENI">ENI</option>
        <option value="BSB">BSB</option>
    </select>

    <label for="barreRecherche">Le nom de la sortie contient : </label>
    <input id="barreRecherche" type="text">



    <label for="dateDebut">Entre </label>
    <input id="dateDebut" type="date">

    <label for="dateFin">et </label>
    <input id="dateFin" type="date">

    <input id="organisateur" type="checkbox" checked> <label for="organisateur">Sorties dont je suis l'organisateur/trice</label>
    <input id="inscrit" type="checkbox" checked> <label for="inscrit">Sorties auxquelles je suis inscrit/e</label>
    <input id="nonInscrit" type="checkbox" checked> <label for="nonInscrit">Sorties auxquelles je ne suis pas inscrit/e </label>
    <input id="passee" type="checkbox"> <label for="passee">Sorties passées</label>


    <table>
        <thead>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Cloture</th>
            <th>Inscrits/places</th>
            <th>État</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
        <tr>
            <td>{{ sortie.nom }}</td>
            <td>{{ sortie.dateHeureDebut|date('d/m/Y à H\\hi') }}</td>
            <td>{{ sortie.dateLimiteInscription|date('d/m/Y à H\\hi') }}</td>
            <td>{{ sortie.nbInscriptionMax }}</td>
            <td>{{ sortie.etat.libelle }}</td>
            <td> 0/{{ sortie.nbInscriptionMax }} </td>
            <td> {% if sortie.organisateur.pseudo %}
                    <a href="#"> {{ sortie.organisateur.pseudo }} </a>
                {% else %}
                    {{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom|first }}.
                {% endif %} </td>
            <td> afficher </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


    <button name="creerSortie"> <a href="">Créer une sortie</a> </button>
{% endblock %}
