{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Détails sortie{% endblock %}

{% block body %}
    <div class="sortie-details">
        <div>
            <h2>{{ sortie.nom }}</h2>
            <div>Organisateur : {{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom }}</div>
            <div>Heure de la sortie : {{ sortie.dateHeureDebut | date ("d-m-Y") }}</div>
            <div>Date limite d'inscription : {{ sortie.dateLimiteInscription | date ("d-m-Y") }}</div>
            <div>Nombre de places : {{ sortie.nbInscriptionMax }}</div>
            <div>Durée : {{ sortie.duree }} min</div>
            <div>Description : {{ sortie.infosSortie }}</div>
        </div>
        <div>
            <div>Campus : {{ sortie.siteOrganisateur.nom }}</div>
            <div>Lieu : {{ sortie.lieu.nom }}</div>
            <div>Rue : {{ sortie.lieu.rue }}</div>
            <div>Ville : {{ sortie.lieu.ville.nom }}</div>
        </div>
    </div>
    <div>
        {% if (userId == sortie.organisateur.id) %}
            <a href="#" class="btn btn-primary">Modifier</a>
            <a href="#" class="btn btn-primary">Annuler</a>
        {% endif %}
        {% set i = 0 %}
        {% for personne in sortie.inscrit %}
            {% set i = i + 1 %}
            {% if (personne.id == userId) %}
                {% set i = i - 1 %}
                <a href="{{ path('sortie_desinscription', {'id': sortie.id}) }}" title="Se désinscrire" class="btn btn-primary">Se désister</a>
            {% endif %}
        {% endfor %}
        {% if (i == length) %}
            <a href="{{ path('sortie_inscription', {'id': sortie.id}) }}" title="S'inscrire" class="btn btn-primary">S'inscrire</a>
        {% endif %}
    </div>
    <div>
        <h3>Liste des participants inscrit : </h3>
        <table>
            <tr>
                    <td>Pseudo</td>
                    <td>Nom</td>
            </tr>
            {% for personne in sortie.inscrit %}
                <tr>
                    <td>{{ personne.pseudo }}</td>
                    <td>{{ personne.prenom }} {{ personne.nom }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}