{% extends 'base.html.twig' %}

{% block title %}Edit Ville{% endblock %}

{% block body %}
    <h1>Modifier la ville de {{ ville.nom }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">Modifier</button>
    {{ form_end(form) }}

    <a href="{{ path('app_ville_index') }}">Retour à la liste</a>


{% endblock %}
