<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('style/style.css') }}">
    <link rel="stylesheet" href="{{ asset('style/modal.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <script src="{{ asset('js/hamburger.js') }}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/fr.js"></script>
    <script src="{{ asset("js/flatpickermyconfig.js") }}"></script>

    <title>{% block title %}Sortir | {% endblock %}</title>
    {% block script %}{% endblock %}
    {% block style %}{% endblock %}
</head>
<body>
<header>
    <a class="logo" href="{{ path('app_main') }}">Sortir</a>
    <nav>
        <a href="{{ path('app_main') }}">Accueil</a>
        {% if app.user %}
            <a href="{{ path('app_main_connecte') }}">Voir les sorties</a>
            <a href="{{ path('app_sortie_new') }}">Organiser une sortie</a>
        {% endif %}
        {% if app.user and is_granted("ROLE_ADMIN") %}
            <a href="{{ path('admin_index') }}">Admin</a>
        {% endif %}
        {% if app.user %}
            <a class="connexion" href="{{ path('app_participant_profil', {'id':app.user.id}) }}">Mon Profil</a>
            <a href="{{ path('app_logout') }}">Se déconnecter</a>
        {% else %}
            <a class="connexion" href="{{ path('app_register') }}">S'inscrire</a>
            <a href="{{ path('app_login') }}">Se Connecter</a>
        {% endif %}
    </nav>
    <div class="hamburger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</header>
<main>
    {# ------------ For pour affichage des message flash -------------- #}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}


    {% block body %}

    {% endblock %}
</main>
<footer>
    <p>ENI Sortir</p>
    <a href="https://github.com/teikaro/eni-sortir" target="_blank"><img src="{{ asset('img/Icongithub.svg') }}"
                                                                              alt="Logo Github"></a>
    <p>2022</p>
</footer>

</body>
</html>