{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}


    <img src="#" alt="photo_profil">

    <h1>Mon profil</h1>

    {% if app.user.pseudo %}

        <li class="fs-4 my-2"> Pseudo : {{ app.user.pseudo }}</li>

    {% else %}

        <li class="fs-4 my-2"> Pseudo : <span class="fst-italic">non renseigné</span></li>

    {% endif %}

    <li class="fs-4 my-2"> Nom : {{ app.user.nom }}</li>

    <li class="fs-4 my-2"> Prénom : {{ app.user.prenom }}</li>

    <li class="fs-4 my-2"> Téléphone: {{ app.user.telephone }}</li>

    <li class="fs-4 my-2"> Adresse e-mail: {{ app.user.email }}</li>

    <li class="fs-4 my-2"> Mot de passe : </li>

    <li class="fs-4 my-2"> Confirmation : </li>

    <li class="fs-4 my-2"> Campus : {{ app.user.campus.nom }}</li>

    <label for="">Ma photo :</label>
    <input type="button" value="Télécharger vers le serveur">


    <button type="submit">Enregistrer</button>
    <button type="submit">Annuler</button>

{% endblock %}
